body {
    font-family: 'Ubuntu', sans-serif;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* text-align: center; */
  }

button {
width: 478px;
height: 56px;
left: 481px;
top: 595px;
background: #1F6CFE;
color: white;
border-radius: 12px;
border: none;
/* margin-bottom: 500px; */
}

h1 {
    color: #8C8C8C;
    margin-bottom: -10px;
}

h2 {
    margin: 30px;
    padding: 10px;
}

p {
    color: #8C8C8C;
    margin-bottom: 70px;
}

i {
    color: #8C8C8C;
    margin-bottom: 5px;
}

ul {
    list-style-type: none;
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
}

li {
    display: inline;
    margin: 10px;
}