body {
  background-color: #efefef;
  font-family: sans-serif;
  font-size: 16px;
  color: #000;
}
.container {
  padding: 0;
}
a, a:hover{
  color:#333
}

.form-space {
  height: 80vh;
  display: flex;
  align-items: center;
}

button {
  width: 100%;
}

#formInput {
  background: none;
  border: none;
  width: 100%;
  border-bottom: 2px solid #999;
}

#formInput_one {
  background: none;
  border: none;
  width: 100%;
  border-bottom: 2px solid #999;
}

.passwordIcon{
  background: none;
  border: none;
  border-bottom: 2px solid #999;
  border-radius: 0;
}

.footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.footer ul li {
  padding: 0 10px;
}
.footer ul li a {
  text-decoration: none;
  color: #999;
}

.form-title {
  font-size:20px;
  font-weight: 700;
  margin-bottom: 5vh;
}