body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}


.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    border-radius: 10px;
}


.center h1 {
    text-align: center;
    padding: 0 0 20px 0; 
    color: black;
}

.center .form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt_field{
    position: relative;
    border-bottom: 2px solid black;
    margin : 30px 0
}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}



.txt_field label {
    position: absolute;
    top: 50%;
    left: 3px;
    color: #757171;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}




.txt_field input:focus ~ label,
.txt_field input:valid ~ label
{
    top: -5px;
    color: black;
}




.txt_field input:focus ~span::before,
.txt_field input:valid ~span::before
{
    width: 100%;
}


.content{
    display: flex;
    justify-content: space-between;
}

.remember_me{
    margin-bottom: 30px;
    color: #383737;
}


.pass{
    cursor: pointer;
    color: blue;
}

.pass:hover {
    text-decoration: underline;
}


input[type = "submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: blue;
    border-radius: 10px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

input[type = "submit"]:hover {
    background-color: rgb(12, 12, 179);
    transition: .5s;
}



.txt_field{
    display: flex;
}


.eye{
   color:  rgba(0, 0, 0, 0.596);
   margin-top: 8px;
}


#hide1{
    display: none;
}




.mail{
    position: absolute;
    left: -16px;
    top: 10px;   
    color:  rgba(0, 0, 0, 0.438);
}

.lock {
    position: absolute;
    left: -10px;
    top: 10px;  
    color: rgba(0, 0, 0, 0.438);
}



/* Footer */

#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}



.footer_content{
    display: flex;
    justify-content:center;
 
}


.footer_content a {
    text-decoration: none;
    padding: 0 2rem;
    color: black;
}


