<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/css/uikit.min.css" />
</head>
<body>
    <form action="/verify-phone" method="POST">
        <input type="tel" name="phone" placeholder="Phone number">
        <input type="submit">
    </form>
</body>

</html>